.upper {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-areas: 
    "column-start column-middle column-end";
	
}

.sub-leg {
	grid-area: column-start;
}

.calendar {
	grid-area: column-middle;

}

.day-info {
	grid-area: column-end;

}

.toDelete {
	grid-column: 1 / -1;
}

td,th {
	font-family: monospace;
	padding: 4px;
	background-color: #ccc;
}

td.currDay {
	background-color: aquamarine;
}

label {
	vertical-align: top;
}


#items_table {
	border: 1px dotted blue;
	padding: 6px;
	margin-top: 12px;
	margin-right: 50%;
}

#items_table h3 {
	font-size: 18px;
	margin-top: 0px;
	font-family: sans-serif;
}